# Import libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Load the Dataset

In [19]:
df = pd.read_csv(r'C:\Users\zubai\Desktop\Data_Science_Jupyter\project_7(NLP Project for Disaster Tweet Classification)\data\twitter_disaster.csv')

In [21]:
df.head(5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

# Explore Dataset Structure

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [25]:
df.shape

(7613, 5)

In [27]:
df.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [29]:
#checking missing values:
df.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [ ]:
df = df.value

In [ ]:
# Remove missing values:
df = df.fillna({'keyword': 0})